# ignore all log files
log/**

# ignore all input data files (it's too big, so need to download from huggingface)
PreMode/data.files
PreMode/data.files/**
parse_input_table/swissprot_and_human.full.seq.csv

# ignore all result files
res
res/**

# ignore experiment model config files
scripts/**
!scripts/example/
!scripts/example/**
!scripts/*.sh

# ignore system files
**/__pycache__
**/.vscode
**/.ipynb_checkpoints
